<!-- <div (click)="loginWithGoogle()" id="g_id_onload" class="container" style="max-width: 550px"
  data-client_id="926487972380-0upkjrk44243nse5kj5o9qk44np5sl65.apps.googleusercontent.com"
  data-login_uri="http://localhost:4200/dashboard" data-auto_prompt="false">
  <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="sign_in_with"
  data-shape="rectangular" data-logo_alignment="left"></div> 
 <div>-->
    <div>
      <!-- <div class="g-signin2" data-onsuccess="onSignIn">
        <button class="g-signin2"   type="button" (click)="loginWithGoogle()">
          Login
        </button>
      </div> -->
      <asl-google-signin-button></asl-google-signin-button>
     
    <!-- </div> -->

    <!-- <div id="g_id_onload" data-client_id="926487972380-si18k3rgcgp540olnclla0seolq1bcns.apps.googleusercontent.com"
       data-auto_prompt="false" (click)="loginWithGoogle()">
    </div>
    <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="sign_in_with"
      data-shape="rectangular" data-logo_alignment="left">
    </div>   -->
